.idea
*.iws
*.iml
*.ipr
/target/
/db/data/
/db/backups/
/docker/remote/
deploy.sh
upload.sh
upload_README.txt
/frontend/nginx-*.conf
/src/main/resources/application-*.yml
/old_frontend/
/assets/avatars/
/assets/flags/
/assets/Img/
/libretranslate/
/zzPojoOUT/
/HO/
/assets/sample_lq/
/piensa/
/hetzner/
/ODS/
/HT/
