<div *ngIf="loading" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body text-center">
          <div>
            <h4>{{ 'ehm.loading-data' | translate }}</h4>
            <div class="spinner-border text-primary" role="status"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loading && !dataResponse" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body text-center">
          <div class="alert alert-danger mb-0">
            {{ 'ehm.error-loading-data-1' | translate | firstCapitalize }}
            <br>
            {{ 'ehm.error-loading-data-2' | translate | firstCapitalize }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="dataResponse" class="">
  <app-header [dataResponse]="dataResponse"></app-header>
  <main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center text-center">
    <app-player-list></app-player-list>
  </main>
</div>
