app:
  version: 34

server:
  port: 1998

management:
  server:
    port: 1999
  health:
    mail:
      enabled: false

spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://ehm_database:3306/ehm?serverTimezone=Europe/Madrid
    username: ehm
    password: ehm
  mail:
    host: smtp.gmail.com
    port: 587
    username: your.account@gmail.com
    password: your.password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  cache:
    type: caffeine
    caffeine:
      spec: expireAfterWrite=7d
  servlet:
    multipart:
      max-file-size: -1
      max-request-size: -1

mybatis:
  mapper-locations: classpath:sql/*.xml
  configuration:
    default-enum-type-handler: org.apache.ibatis.type.EnumOrdinalTypeHandler
    settings:
      map-underscore-to-camel-case: true

ehm:
  oauth-consumer-key: ehm-consumer-key
  oauth-consumer-secret: ehm-consumer-secret
  register-callback-url: http://localhost:1997/save
  cron-add-active-update-executions: "0 0 1 * * SUN,MON,TUE"
  cron-check-data: "0 0 12 * * FRI"
  cron-check-active: "0 0 3 * * THU"

assets:
  hattrick-url: https://www.hattrick.org
  assets-path: /application/assets

libre-translate-feign-client:
  name: libre-translate-api
  url: http://localhost:5555
