<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
      <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
          <h3>Easy Hattrick Manager</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group mb-3">
              <label for="username">{{ 'ehm.user' | translate | firstCapitalize }}:</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                [(ngModel)]="username"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="password">{{ 'ehm.password' | translate | firstCapitalize }}:</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                [(ngModel)]="password"
                required
              />
            </div>
            <div class="alert alert-warning text-center mb-3" role="alert">
              <i class="bi bi-exclamation-circle me-2"></i>
              {{ 'ehm.log-in-warning' | translate | firstCapitalize }}
            </div>
            <div class="alert alert-warning text-center mb-3" role="alert">
              <i class="bi bi-exclamation-circle me-2"></i>
              {{ 'ehm.no-remember-password' | translate }}
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="!loginForm.valid">
              {{ 'ehm.get-into' | translate }}
            </button>
          </form>
        </div>
        <div *ngIf="error" class="card-footer text-danger text-center">
          {{ 'ehm.error-log-in' | translate | firstCapitalize }}
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 text-center">
    <small>{{ 'ehm.no-account' | translate | firstCapitalize }}</small>&nbsp;
    <a routerLink="/register" class="text-decoration-none">{{ 'ehm.register-here' | translate | firstCapitalize }}</a>
  </div>
  <div class="text-center mt-3">
    <img src="assets/chpp.png" alt="CHPP" class="img-fluid mb-3">
  </div>
</div>
