.dropdown-toggle i {
  font-size: 1.5rem;
}

.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-menu .dropdown-item i {
  font-size: 1.2rem;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-cert {
  background-image: url('/assets/chpp.png');
  background-position: calc(100% - 15px) calc(100% - 15px);
  background-repeat: no-repeat;
  background-size: auto;
}


