$primary: #277f31;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

body {
  font-family: Roboto, Verdana, Helvetica, Sans-Serif, serif;
  font-size: small;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('/assets/bg.png');
  background-repeat: repeat, repeat;
  background-size: auto, auto;
  overflow-x: hidden;
}

main {
  padding-top: 45px;
}

.shadow-2 {
  box-shadow: grey 0px 0px 2px;
}

.shadow-6 {
  box-shadow: grey 0px 0px 6px;
}

.fs-90 {
  font-size: 90%;
}
