<div class="card container" *ngIf="player && userConfig">
  <div class="row">
    <div class="col-9 text-start fw-bold fs-6">
      <span *ngIf="player.playerNumber">{{ player.playerNumber }}. </span>
      <a target="_blank" href="http://hattrick.org/goto.ashx?path=/Club/Players/Player.aspx?playerId={{ player.id }}">
        <span>
          {{ player.firstName }}
          <span *ngIf="player.nickName">'{{ player.nickName }}'</span>
          {{ player.lastName }}
        </span>
      </a>
      <img *ngIf="player.motherClubBonus" src="assets/status/motherClubBonus.png" alt="" class="icon"/>
      <img *ngIf="player.injuryLevel == 0" src="assets/injury/0.png" alt="" class="icon"/>
      <img *ngIf="player.injuryLevel > 0" src="assets/injury/1.png" alt="" title="{{ player.injuryLevel ==  999 ? '∞' : player.injuryLevel }}" class="icon"/>
      <img *ngIf="player.cards > 0" src="assets/cards/{{ player.cards }}.png" alt="" class="icon"/>
      <img *ngIf="player.transferListed" src="assets/status/onSale.png" alt="" class="icon"/>
    </div>
    <div class="col-3 text-end">
      <img src="assets/flags/{{ player.countryId }}.png" alt="" class="shadow-2"/>
    </div>
  </div>
  <div class="row">
    <div class="col text-start fs-90 text-nowrap">{{ 'ehm.person' | translate | firstCapitalize }} {{ 'ht.agreeability-' + player.agreeability | translate }}, {{ 'ht.agressiveness-' + player.aggressiveness | translate }} {{ 'ehm.and' | translate }} {{ 'ht.honesty-' + player.honesty | translate }}.
    </div>
  </div>
  <div class="row">
    <div class="col text-start fs-90 text-nowrap">
      {{ 'ehm.has' | translate | firstCapitalize }} {{ 'ht.skill-level-' + player.experience | translate }} ({{ player.experience }}) {{ 'ht.skill-experience' | translate | lowercase }},
      {{ 'ht.skill-level-' + player.leadership | translate }} ({{ player.leadership }}) {{ 'ht.skill-leadership' | translate | lowercase }} {{ 'ehm.and' | translate }}
      {{ 'ht.skill-level-' + player.loyalty | translate }} ({{ player.loyalty }}) {{ 'ehm.loyalty' | translate }}.
    </div>
  </div>
  <div class="row">
    <div class="col w-100">
      <table class="w-100">
        <tr>
          <td rowspan="7">
            <img [src]="'assets/avatars/' + player.id + '.png'" (error)="onImageError($event)" alt="" class="shadow-6"/>
          </td>
          <td class="text-end pe-1 text-nowrap">{{ 'ehm.age' | translate | firstCapitalize }}</td>
          <td class="text-start text-nowrap" colspan="2">{{ player.age }}{{ 'ehm.years' | translate | firstLetter }} {{ player.ageDays }}{{ 'ehm.days' | translate | firstLetter }}</td>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-keeper' | translate }}</td>
          <td>
            <app-skill [skill]="player.keeperSkill" [max]="20"></app-skill>
          </td>
          <td class="text-end" style="width: 3%;">{{ player.keeperSkill }}</td>
        </tr>
        <tr>
          <td class="text-end pe-1 text-nowrap">TSI</td>
          <td class="text-start text-nowrap" colspan="2">{{ player.tsi }}</td>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-defender' | translate }}</td>
          <td>
            <app-skill [skill]="player.defenderSkill" [max]="20"></app-skill>
          </td>
          <td class="text-end">{{ player.defenderSkill }}</td>
        </tr>
        <tr>
          <td class="text-end pe-1 text-nowrap">{{ 'ehm.wage' | translate | firstCapitalize }}</td>
          <td class="text-start text-nowrap" colspan="2">{{ player.salary | salary:userConfig.currency }}</td>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-playmaker' | translate }}</td>
          <td>
            <app-skill [skill]="player.playmakerSkill" [max]="20"></app-skill>
          </td>
          <td class="text-end">{{ player.playmakerSkill }}</td>
        </tr>
        <tr>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.specialty' | translate }}</td>
          <td class="text-start text-nowrap" colspan="2">
            <app-specialty [specialty]="player.specialty"></app-specialty>
          </td>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-winger' | translate }}</td>
          <td>
            <app-skill [skill]="player.wingerSkill" [max]="20"></app-skill>
          </td>
          <td class="text-end">{{ player.wingerSkill }}</td>
        </tr>
        <tr>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-form' | translate }}</td>
          <td class="text-start text-nowrap">
            <app-skill [skill]="player.playerForm" [max]="8"></app-skill>
          </td>
          <td class="text-start text-nowrap">{{ player.playerForm }}</td>
          <td class="text-end pe-1">{{ 'ht.skill-passer' | translate }}</td>
          <td>
            <app-skill [skill]="player.passingSkill" [max]="20"></app-skill>
          </td>
          <td class="text-end">{{ player.passingSkill }}</td>
        </tr>
        <tr>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-stamina' | translate }}</td>
          <td class="text-start text-nowrap">
            <app-skill [skill]="player.staminaSkill" [max]="9"></app-skill>
          </td>
          <td class="text-start text-nowrap">{{ player.staminaSkill }}</td>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-scorer' | translate }}</td>
          <td>
            <app-skill [skill]="player.scorerSkill" [max]="20"></app-skill>
          </td>
          <td class="text-end">{{ player.scorerSkill }}</td>
        </tr>
        <tr>
          <td class="text-end pe-1 text-nowrap">HTMS</td>
          <td class="text-start text-nowrap" colspan="2">{{ player.htms }} | {{ player.htms28 }}</td>
          <td class="text-end pe-1 text-nowrap">{{ 'ht.skill-kicker' | translate }}</td>
          <td>
            <app-skill [skill]="player.setPiecesSkill" [max]="20"></app-skill>
          </td>
          <td class="text-end">{{ player.setPiecesSkill }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
