.icon {
  width: 1.2em;
  height: 1.2em;
}

.player-category {
  font-family: Roboto, Verdana, Helvetica, Sans-Serif;
  background-color: #59965d;
  color: #fff;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  font-size: 9px !important;
  line-height: 26px;
  font-weight: 700;
  border-radius: 100%;
  margin-bottom: 2px;
  margin-top: 3px;
  margin-right: 2px;
}

.player-card-header {
  .tab-icon {
    font-size: 1.5em;
    cursor: pointer;
    color: #6c757d;
    vertical-align: middle;

    &.active {
      color: #277e31;
    }

    &:hover {
      color: #309b3c;
    }
  }
}

.hidden-text {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.player-card-table {
  table-layout: fixed;
}

.player-card-table td {
  vertical-align: middle;
}

.player-card-col-avatar {
  width: 90px;
}

.player-card-col-label-left {
  width: 14%;
}

.player-card-col-value-left {
  width: 14%;
}

.player-card-col-value-left-2 {
  width: 7%;
}

.player-card-col-label-right {
  width: 14%;
}

.player-card-col-bar {
  width: 21%;
}

.player-card-col-value-right {
  width: 8%;
}

.green {
  color: green;
}

.htms-table {
  table-layout: fixed;
  margin: 0;
  padding: 0;
  text-align: right;
}

.htms-table td {
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
}
