<div class="card container" *ngIf="player && userConfig">
  <div class="row player-card-header">
    <div class="col-9 text-start fw-bold fs-6">
      <span *ngIf="player.playerNumber">{{ player.playerNumber }}. </span>
      <a target="_blank" href="http://hattrick.org/goto.ashx?path=/Club/Players/Player.aspx?playerId={{ player.id }}">
        <span>
          {{ player.firstName }}
          <span *ngIf="player.nickName">'{{ player.nickName }}'</span>
          {{ player.lastName }}
        </span>
      </a>
      <img *ngIf="player.motherClubBonus" src="assets/status/motherClubBonus.png" alt="" class="icon"/>
      <img *ngIf="player.injuryLevel == 0" src="assets/injury/0.png" alt="" class="icon"/>
      <img *ngIf="player.injuryLevel > 0" src="assets/injury/1.png" alt="" title="{{ player.injuryLevel ==  999 ? '∞' : player.injuryLevel }}" class="icon"/>
      <img *ngIf="player.cards > 0" src="assets/cards/{{ player.cards }}.png" alt="" class="icon"/>
      <img *ngIf="player.transferListed" src="assets/status/onSale.png" alt="" class="icon"/>
    </div>
    <div class="col-3 text-end">
      <a [routerLink]="['/player', player.id]" target="_blank">
        <i class="tab-icon bi bi-bar-chart fs-6 me-2"></i>
      </a>
      <img src="assets/flags/{{ player.countryId }}.png" alt="" class="shadow-2"/>
    </div>
  </div>
  <div class="row align-items-stretch">
    <div class="col-10">
      <div class="row">
        <div class="col-12 text-start fs-90 text-nowrap">
          {{ 'ehm.person' | translate | firstCapitalize }} {{ 'ht.agreeability-' + player.agreeability | translate }},
          {{ 'ht.agressiveness-' + player.aggressiveness | translate }} {{ 'ehm.and' | translate }}
          {{ 'ht.honesty-' + player.honesty | translate }}.
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-start fs-90 text-nowrap">
          {{ 'ehm.has' | translate | firstCapitalize }}
          {{ 'ht.skill-level-' + player.experience | translate }} ({{ player.experience }})
          {{ 'ht.skill-experience' | translate | lowercase }},
          {{ 'ht.skill-level-' + player.leadership | translate }} ({{ player.leadership }})
          {{ 'ht.skill-leadership' | translate | lowercase }} {{ 'ehm.and' | translate }}
          {{ 'ht.skill-level-' + player.loyalty | translate }} ({{ player.loyalty }})
          {{ 'ehm.loyalty' | translate }}.
        </div>
      </div>
    </div>
    <div class="col-2 text-end d-flex align-items-center justify-content-end">
      <span *ngIf="player.playerCategoryId != 0" class="player-category" title="{{ 'ehm.category-name-' + player.playerCategoryId | translate | firstCapitalize }}">
        {{ 'ehm.category-abbr-' + player.playerCategoryId | translate | firstCapitalize }}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col w-100">
      <table class="w-100 player-card-table">
        <colgroup>
          <col class="player-card-col-avatar"/>
          <col class="player-card-col-label-left"/>
          <col class="player-card-col-value-left"/>
          <col class="player-card-col-value-left-2"/>
          <col class="player-card-col-label-right"/>
          <col class="player-card-col-bar"/>
          <col class="player-card-col-value-right"/>
        </colgroup>
        <tr>
          <td rowspan="7">
            <img [src]="'assets/avatars/' + player.id + '.png'" (error)="onImageError($event)" alt="" class="shadow-6"/>
          </td>
          <td class="text-end pe-1 align-middle hidden-text" [attr.title]="'ehm.age' | translate | firstCapitalize">{{ 'ehm.age' | translate | firstCapitalize }}</td>
          <td class="text-start text-nowrap align-middle" colspan="2">{{ player.age }}{{ 'ehm.years' | translate | firstLetter }} {{ player.ageDays }}{{ 'ehm.days' | translate | firstLetter }}</td>
          <td class="text-end pe-1 text-nowrap hidden-text" [attr.title]="('ht.skill-keeper' | translate) + (getTraining('keeper') ? ' - ' + getTraining('keeper') : '')" [ngStyle]="getBackgroundColor('keeper')">{{ 'ht.skill-keeper' | translate }}</td>
          <td [title]="getTraining('keeper')" [ngStyle]="getBackgroundColor('keeper')">
            <app-skill [skill]="player.keeperSkill" [max]="20" [change]="player.changes['keeperSkill']"></app-skill>
          </td>
          <td class="text-end" style="width: 3%;" [title]="getTraining('keeper')" [ngStyle]="getBackgroundColor('keeper')">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.keeperSkill + (player.playerSubSkill?.keeper ?? 0) : player.keeperSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green" [ngStyle]="getDecimalColor('keeper')">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-end pe-1 align-middle player-card-label hidden-text" [attr.title]="'ehm.tsi' | translate">
            {{ 'ehm.tsi' | translate }}
          </td>
          <td class="text-start text-nowrap align-middle" colspan="2">{{ player.tsi | numberSeparator }}</td>
          <td class="text-end pe-1 text-nowrap hidden-text" [attr.title]="('ht.skill-defender' | translate) + (getTraining('defender') ? ' - ' + getTraining('defender') : '')" [ngStyle]="getBackgroundColor('defender')">{{ 'ht.skill-defender' | translate }}</td>
          <td [title]="getTraining('defender')" [ngStyle]="getBackgroundColor('defender')">
            <app-skill [skill]="player.defenderSkill" [max]="20" [change]="player.changes['defenderSkill']"></app-skill>
          </td>
          <td class="text-end" [title]="getTraining('defender')" [ngStyle]="getBackgroundColor('defender')">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.defenderSkill + (player.playerSubSkill?.defender ?? 0) : player.defenderSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green" [ngStyle]="getDecimalColor('defender')">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-end pe-1 align-middle hidden-text" [attr.title]="'ehm.wage' | translate | firstCapitalize">{{ 'ehm.wage' | translate | firstCapitalize }}</td>
          <td class="text-start text-nowrap align-middle" colspan="2">{{ player.salary | salary:userConfig.currency }}</td>
          <td class="text-end pe-1 text-nowrap hidden-text" [attr.title]="('ht.skill-playmaker' | translate) + (getTraining('playmaker') ? ' - ' + getTraining('playmaker') : '')" [ngStyle]="getBackgroundColor('playmaker')">{{ 'ht.skill-playmaker' | translate }}</td>
          <td [title]="getTraining('playmaker')" [ngStyle]="getBackgroundColor('playmaker')">
            <app-skill [skill]="player.playmakerSkill" [max]="20" [change]="player.changes['playmakerSkill']"></app-skill>
          </td>
          <td class="text-end" [title]="getTraining('playmaker')" [ngStyle]="getBackgroundColor('playmaker')">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.playmakerSkill + (player.playerSubSkill?.playmaker ?? 0) : player.playmakerSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green" [ngStyle]="getDecimalColor('playmaker')">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-end pe-1 align-middle hidden-text" [attr.title]="'ht.specialty' | translate">{{ 'ht.specialty' | translate }}</td>
          <td class="text-start text-nowrap align-middle hidden-text" colspan="2">
            <app-specialty [specialty]="player.specialty"></app-specialty>
          </td>
          <td class="text-end pe-1 text-nowrap hidden-text" [attr.title]="('ht.skill-winger' | translate) + (getTraining('winger') ? ' - ' + getTraining('winger') : '')" [ngStyle]="getBackgroundColor('winger')">{{ 'ht.skill-winger' | translate }}</td>
          <td [title]="getTraining('winger')" [ngStyle]="getBackgroundColor('winger')">
            <app-skill [skill]="player.wingerSkill" [max]="20" [change]="player.changes['wingerSkill']"></app-skill>
          </td>
          <td class="text-end" [title]="getTraining('winger')" [ngStyle]="getBackgroundColor('winger')">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.wingerSkill + (player.playerSubSkill?.winger ?? 0) : player.wingerSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green" [ngStyle]="getDecimalColor('winger')">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-end pe-1 align-middle hidden-text" [attr.title]="'ht.skill-form' | translate">{{ 'ht.skill-form' | translate }}</td>
          <td class="text-start text-nowrap align-middle">
            <app-skill [skill]="player.playerForm" [max]="8"></app-skill>
          </td>
          <td class="text-start text-nowrap align-middle">{{ player.playerForm }}</td>
          <td class="text-end pe-1 hidden-text" [attr.title]="('ht.skill-passer' | translate) + (getTraining('passing') ? ' - ' + getTraining('passing') : '')" [ngStyle]="getBackgroundColor('passing')">{{ 'ht.skill-passer' | translate }}</td>
          <td [title]="getTraining('passing')" [ngStyle]="getBackgroundColor('passing')">
            <app-skill [skill]="player.passingSkill" [max]="20" [change]="player.changes['passingSkill']"></app-skill>
          </td>
          <td class="text-end" [title]="getTraining('passing')" [ngStyle]="getBackgroundColor('passing')">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.passingSkill + (player.playerSubSkill?.passing ?? 0) : player.passingSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green" [ngStyle]="getDecimalColor('passing')">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-end pe-1 align-middle hidden-text" [attr.title]="'ht.skill-stamina' | translate">{{ 'ht.skill-stamina' | translate }}</td>
          <td class="text-start text-nowrap align-middle">
            <app-skill [skill]="player.staminaSkill" [max]="9"></app-skill>
          </td>
          <td class="text-start text-nowrap align-middle">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.staminaSkill + (player.playerSubSkill?.stamina ?? 0) : player.staminaSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
          <td class="text-end pe-1 text-nowrap hidden-text" [attr.title]="('ht.skill-scorer' | translate) + (getTraining('scorer') ? ' - ' + getTraining('scorer') : '')" [ngStyle]="getBackgroundColor('scorer')">{{ 'ht.skill-scorer' | translate }}</td>
          <td [title]="getTraining('scorer')" [ngStyle]="getBackgroundColor('scorer')">
            <app-skill [skill]="player.scorerSkill" [max]="20" [change]="player.changes['scorerSkill']"></app-skill>
          </td>
          <td class="text-end" [title]="getTraining('scorer')" [ngStyle]="getBackgroundColor('scorer')">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.scorerSkill + (player.playerSubSkill?.scorer ?? 0) : player.scorerSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green" [ngStyle]="getDecimalColor('scorer')">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td class="text-end pe-1 align-middle hidden-text" title="HTMS">HTMS</td>
          <td class="text-start text-nowrap align-middle" colspan="2">
            <table class="htms-table">
              <tr>
                <td>{{ player.htms }}</td>
                <td>|</td>
                <td>{{ player.htms28 }}</td>
              </tr>
              <tr *ngIf="player?.playerSubSkill && userConfig?.showSubSkills" class="green">
                <td>{{ player.playerSubSkill?.htms }}</td>
                <td>|</td>
                <td>{{ player.playerSubSkill?.htms28 }}</td>
              </tr>
            </table>
          </td>
          <td class="text-end pe-1 text-nowrap align-top hidden-text" [attr.title]="('ht.skill-kicker' | translate) + (getTraining('setPieces') ? ' - ' + getTraining('setPieces') : '')" [ngStyle]="getBackgroundColor('setPieces')">{{ 'ht.skill-kicker' | translate }}</td>
          <td class="align-top" [title]="getTraining('setPieces')" [ngStyle]="getBackgroundColor('setPieces')">
            <app-skill [skill]="player.setPiecesSkill" [max]="20" [change]="player.changes['setPiecesSkill']"></app-skill>
          </td>
          <td class="text-end align-top" [title]="getTraining('setPieces')" [ngStyle]="getBackgroundColor('setPieces')">
            <ng-container *ngIf="getDecimalParts((userConfig?.showSubSkills ? player.setPiecesSkill + (player.playerSubSkill?.setPieces ?? 0) : player.setPiecesSkill), 2) as parts">
              {{ parts.whole }}<span *ngIf="userConfig?.showSubSkills" class="green" [ngStyle]="getDecimalColor('setPieces')">.{{ parts.decimal }}</span>
            </ng-container>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
