<div *ngIf="staff" class="card container h-100 w-100">
  <div class="row pt-2">
    <div class="w-100">
      <table class="w-100">
        <tr>
          <td>
            <img *ngIf="staff.trainer.id" [src]="'assets/avatars/' + staff.trainer.id + '.png'" (error)="onImageError($event)" alt="" class="shadow-6"/>
          </td>
          <td *ngFor="let staffMember of staff.staffMembers">
            <img *ngIf="staffMember.id" [src]="'assets/avatars/' + staffMember.id + '.png'" (error)="onImageError($event)" alt="" class="shadow-6"/>
          </td>
        </tr>
        <tr>
          <td>
            <app-staff-level [type]="1" [level]="staff.trainer.skillLevel"></app-staff-level>
          </td>
          <td *ngFor="let staffMember of staff.staffMembers">
            <app-staff-level [type]="staffMember.type" [level]="staffMember.level"></app-staff-level>
          </td>
        </tr>
        <tr>
          <td>
            <a *ngIf="staff.trainer.id" target="_blank" href="http://hattrick.org/goto.ashx?path=/Club/Specialists/Trainer.aspx?teamId={{ teamId }}&trainerId={{ staff.trainer.id }}">
              {{ staff.trainer.name }}
            </a>
          </td>
          <td *ngFor="let staffMember of staff.staffMembers">
            <a *ngIf="staffMember.id" target="_blank" href="http://hattrick.org/goto.ashx?path=/Club/Specialists/Specialist.aspx?teamId={{ teamId }}&specialistId={{ staffMember.id }}">
              {{ staffMember.name }}
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <span class="staff-type text-nowrap">
              {{ 'ehm.staff-type-0' | translate }} {{ 'ehm.trainer-type-' + staff.trainer.type | translate }}
            </span>
            <br/>
            <span class="staff-type">
              {{ 'ht.skill-leadership' | translate | lowercase }} {{ 'ht.skill-level-' + staff.trainer.leadership | translate }} ({{ staff.trainer.leadership }})
            </span>
          </td>
          <td *ngFor="let staffMember of staff.staffMembers">
            <span *ngIf="staffMember.type" class="staff-type">
              {{ 'ehm.staff-type-' + staffMember.type | translate }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
